
<html>
  
  <h1 align="center" class="jumbotron jumbotron-fluid">Welcome To EvergreenBookStore <img src="https://www.netclipart.com/pp/m/27-272447_learning-vector-read-book-logo-for-education-png.png" width="200" alt=""></h1>
  

  
  &nbsp;&nbsp;&nbsp;<button class="btn btn-success" routerLink='/listbook'>Home</button>&nbsp;
  
  <div align="right">
  &nbsp;&nbsp;&nbsp;<button class="btn btn-warning" >Cart</button> &nbsp;
  
  &nbsp;&nbsp;&nbsp;<button class="btn btn-danger" >Login</button>&nbsp;
</div>
  <br><br> 
  <router-outlet></router-outlet>
  </html>